.profile-full {
  display: flex;
  .side-right {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eff3f6;
    .side-down {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 100px;
      .down-h1 {
        font-family: chillax-regular;
        font-size: 24px;
      }
      .white-div {
        position: relative;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-top: 25px;
        width: 90%;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        background-color: white;
        border-radius: 10px;
        .profile {
          position: absolute;
          top: 150px;
          left: 50px;
          display: flex;
          align-items: flex-end;
          gap: 10px;
          .profile-icon {
            width: 155px;
            height: 155px;
            border-radius: 50%;
            overflow: hidden;
            z-index: 999;
            img {
              width: 100%;
              object-fit: cover;
            }
          }
          .profile-text {
            h3 {
              font-family: chillax;
            }
            h4 {
              font-family: chillax-regular;
            }
            margin-bottom: 20px;
          }
        }
        .buttons {
          display: flex;
          padding-left: 30px;
          gap: 55px;
          .deleting {
            cursor: pointer;
            border: none;
            background-color: #192d43;
            padding: 10px 35px;
            color: #face8d;
            font-family: chillax-regular;
            border-radius: 5px;
            transition: 0.5s;
            &:hover {
              scale: 1.1;
            }
          }
          .goback {
            cursor: pointer;
            border: none;
            background-color: #192d43;
            padding: 10px 30px;
            color: #face8d;
            font-family: chillax-regular;
            border-radius: 5px;
            transition: 0.5s;
            &:hover {
              scale: 1.1;
            }
          }
        }
        .bio {
          margin-top: 110px;
          display: flex;
          gap: 200px;
          .bio-text {
            display: flex;
            flex-direction: column;
            gap: 10px;
            h4 {
              font-family: chillax;
              span {
                padding-left: 20px;
                font-family: chillax-regular;
                color: #627183;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
