html {
  scroll-behavior: smooth;
}
#full-classd {
  height: 100vh;
  background-color: black;

  .classd {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 991px) {
      display: block;
    }
    .side-left {
      position: fixed;
      height: 100vh;
      width: 50%;
      background-image: url("https://assets.website-files.com/6321d0d284b5b7ca3857fad3/63238e1c057c3c6c3d4d0b11_page-menu.webp");
      background-position: center;
      background-size: cover;

      @media only screen and (max-width: 991px) {
        position: static;
        width: 100%;
      }
      .side-left-classd {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 200px;
        @media only screen and (max-width: 991px) {
          gap: 140px;
        }
        .logo {
          padding: 3rem 0;
        }
        .name {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          .check {
            text-transform: capitalize;
            color: #face8d;
            font-family: bitter-rose;
            font-size: 5rem;
            font-weight: 400;
            line-height: 12px;
            @media only screen and (max-width: 991px) {
              font-size: 4rem;
              line-height: 52px;
            }
            @media only screen and (max-width: 767px) {
              font-size: 4rem;
              line-height: 36px;
            }
            @media only screen and (max-width: 478px) {
              font-size: 3rem;
            }
          }
          .our-menud {
            color: #ffffff;
            font-family: chillax;
            font-size: 5rem;
            font-weight: 500;
            line-height: 120px;
            text-align: center;
            @media only screen and (max-width: 991px) {
              font-size: 4rem;
            }
            @media only screen and (max-width: 767px) {
              font-size: 3.125rem;
            }
            @media only screen and (max-width: 478px) {
              font-size: 2.5rem;
              line-height: 50px;
            }
          }
        }
      }
    }
    .side-right {
      position: absolute;
      right: 0;
      width: 50%;
      background-color: black;
      color: #ffff;
      @media only screen and (max-width: 991px) {
        position: static;
        width: 100%;
      }
      .side-down {
        padding-top: 65px;
        padding-bottom: 115px;
        padding-left: 65px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        gap: 140px;
        @media only screen and (max-width: 767px) {
          padding-left: 45px;
        }
        @media only screen and (max-width: 478px) {
          padding-left: 15px;
        }
        #starters {
          .cook {
            text-transform: capitalize;
            color: rgba(255, 255, 255, 0.6);
            font-family: chillax-regular;
            font-weight: 400;
            font-size: 1rem;
          }
          .reservs {
            font-family: chillax;
            font-weight: 500;
            font-size: 2.5rem;
            color: white;
            @media only screen and (max-width: 478px) {
              font-size: 1.7rem;
            }
          }
          .about {
            width: 90%;
            font-family: chillax-regular;
            font-weight: 400;
            font-size: 1.125rem;
            color: rgba(255, 255, 255, 0.6);
          }
          .buy {
            display: flex;
            align-items: center;
            gap: 35px;
            padding-top: 50px;
            button {
              border: none;
              background-color: #f8d49e;
              font-size: 1rem;
              font-weight: 500;
              color: #081212;
              font-family: chillax;
              text-transform: uppercase;
              padding: 19px 27px;
              border-radius: 30px;
              cursor: pointer;
            }
            .cost {
              font-family: chillax-regular;
              font-size: 1.5rem;
              font-weight: 400;
              color: white;
            }
          }
          .menu {
            padding-top: 6rem;
            font-family: bitter-rose;
            color: #face8d;
            font-size: 4rem;
            font-weight: 400;
            text-transform: capitalize;
          }
          .menus {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-top: 40px;
            .eat {
              display: flex;
              color: white;
              align-items: center;
              gap: 20px;
              @media only screen and (max-width: 478px) {
                align-items: flex-start;
              }
              .eat-image {
                width: 18%;
                .image {
                  width: 100px;
                  border-radius: 10px;
                  overflow: hidden;
                  @media only screen and (max-width: 478px) {
                    width: 70px;
                  }
                  img {
                    width: 100%;
                    border-radius: 10px;
                    transition: 0.5s;
                    &:hover {
                      scale: 1.06;
                    }
                  }
                }
              }
              .texts {
                width: 70%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                .food-name {
                  text-transform: capitalize;
                  font-family: chillax-regular;
                  font-weight: 400;
                  font-size: 1.5rem;
                  padding: 0;
                  color: white;
                  @media only screen and (max-width: 478px) {
                    font-size: 1rem;
                  }
                }
                .food-about {
                  font-family: chillax;
                  font-weight: 400;
                  font-size: 1rem;
                  color: rgba(255, 255, 255, 0.6);
                }
              }
            }
          }
          .chef {
            padding-top: 6rem;
            font-family: bitter-rose;
            color: #face8d;
            font-size: 4rem;
            font-weight: 400;
            text-transform: capitalize;
          }
          .chef-about {
            display: flex;
            color: white;
            align-items: center;
            gap: 20px;
            margin-top: 40px;

            @media only screen and (max-width: 478px) {
              align-items: flex-start;
            }
            img {
              width: 100px;
              border-radius: 50%;
            }
            .texts {
              display: flex;
              flex-direction: column;
              gap: 5px;
              .chef-name {
                text-transform: capitalize;
                font-family: chillax-regular;
                font-weight: 400;
                font-size: 1.5rem;
                padding: 0;
                color: white;
                @media only screen and (max-width: 478px) {
                  font-size: 1rem;
                }
              }
              .chef-about {
                font-family: chillax-regular;
                font-weight: 400;
                font-size: 1rem;
                margin: 0;
                color: rgba(255, 255, 255, 0.6);
              }
            }
          }
          .button {
            .back {
              margin-top: 4rem;
              width: 20%;
              border: none;
              background-color: #192d43;
              padding: 7px 0;
              color: #face8d;
              font-family: chillax-regular;
              border-radius: 5px;
              transition: 0.5s;
              @media only screen and (max-width: 478px) {
                width: 100%;
              }
              a {
                color: #face8d;
                text-decoration: none;
              }
              &:hover {
                background-color: white;
                color: #192d43;
                cursor: pointer;
              }
            }
          }
        }

        .menu-footer {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-wrap: wrap;
          @media only screen and (max-width: 767px) {
            justify-content: center;
          }
          .nique {
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 35px;
            align-items: flex-start;
            @media only screen and (max-width: 767px) {
              width: 100%;
              align-items: center;
              text-align: center;
              padding-bottom: 100px;
            }
            .founder {
              font-family: chillax-regular;
              font-size: 0.875rem;
              font-weight: 400;
              color: rgba(255, 255, 255, 0.6);
              span {
                color: #face8d;
              }
            }
          }
          .menu-pages {
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            @media only screen and (max-width: 767px) {
              text-align: center;
              width: 45%;
            }
            .page-h3 {
              padding: 0;
              color: white;
              font-family: chillax-regular;
              font-size: 1.125rem;
              font-weight: 400;
            }
            ul {
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 20px;
              li {
                font-weight: 400;
                font-family: chillax-regular;
                font-size: 1rem;
                a {
                  text-decoration: none;
                  color: rgba(255, 255, 255, 0.6);
                  transition: 0.3s;
                  &:hover {
                    color: #face8d;
                  }
                }
              }
            }
          }
          .menu-utility {
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            @media only screen and (max-width: 767px) {
              text-align: center;
              width: 45%;
            }
            .uti-h3 {
              padding: 0;
              color: white;
              font-family: chillax-regular;
              font-size: 1.125rem;
              font-weight: 400;
            }
            ul {
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 20px;
              li {
                font-weight: 400;
                font-family: chillax-regular;
                font-size: 1rem;
                a {
                  text-decoration: none;
                  color: rgba(255, 255, 255, 0.6);
                  transition: 0.3s;
                  &:hover {
                    color: #face8d;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
