html {
  scroll-behavior: smooth;
}
#full-contact {
  height: 100vh;
  .contact {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 991px) {
      display: block;
    }
    .side-left {
      position: fixed;
      height: 100vh;
      width: 50%;
      background-image: url("https://assets.website-files.com/6321d0d284b5b7ca3857fad3/63258f5d520348caf6e1e79e_page-changelog.webp");
      background-position: center;
      background-size: cover;

      @media only screen and (max-width: 991px) {
        position: static;
        width: 100%;
      }
      .side-left-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 200px;
        @media only screen and (max-width: 991px) {
          gap: 140px;
        }
        .logo {
          padding: 3rem 0;
        }
        .name {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          .contact {
            text-transform: capitalize;
            color: #face8d;
            font-family: bitter-rose;
            font-size: 5rem;
            font-weight: 400;
            line-height: 12px;
            @media only screen and (max-width: 991px) {
              font-size: 4rem;
              line-height: 52px;
            }
            @media only screen and (max-width: 767px) {
              font-size: 4rem;
              line-height: 36px;
            }
            @media only screen and (max-width: 478px) {
              font-size: 3rem;
            }
          }
          .get {
            color: #ffffff;
            font-family: chillax;
            font-size: 5rem;
            font-weight: 500;
            line-height: 120px;
            text-align: center;
            @media only screen and (max-width: 991px) {
              font-size: 4rem;
            }
            @media only screen and (max-width: 767px) {
              font-size: 3.125rem;
            }
            @media only screen and (max-width: 478px) {
              font-size: 2.5rem;
              line-height: 50px;
            }
          }
        }
      }
    }
    .side-right {
      position: absolute;
      right: 0;
      width: 50%;
      background-color: black;
      color: #ffff;
      @media only screen and (max-width: 991px) {
        position: static;
        width: 100%;
      }
      .right-about {
        font-family: chillax-regular;
        font-weight: 400;
        font-size: 1.25rem;
        color: rgba(255, 255, 255, 0.6);
        padding-top: 65px;
        padding-left: 65px;
        padding-right: 110px;
        line-height: 33px;
        @media only screen and (max-width: 991px) {
          padding-right: 55px;
          font-size: 1.125rem;
        }
      }

      .side-down {
        padding-top: 55px;
        padding-bottom: 75px;
        padding-left: 65px;
        padding-right: 65px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        @media only screen and (max-width: 767px) {
          padding-left: 45px;
          padding-right: 45px;
        }
        @media only screen and (max-width: 478px) {
          padding-left: 35px;
          padding-right: 35px;
        }
        .form {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .label {
            font-family: chillax-regular;
            font-size: 1rem;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.8);
          }
          .input {
            color: #face8d;
            font-size: 16px;
            font-family: chillax-regular;
            background: transparent;
            border: 1px solid hsla(0, 0%, 100%, 0.1);
            padding: 20px 30px 20px 30px;
            margin-top: 10px;
            border-radius: 10px;
            &::placeholder {
              color: rgba(255, 255, 255, 0.6);
              font-family: chillax-regular;
              font-size: 17px;
            }
          }
          textarea:focus,
          input:focus,
          input[type]:focus,
          .uneditable-input:focus {
            border-color: #face8d;
            outline: 0 none;
          }
       
        }
        .send {
          border: none;
          background-color: #f8d49e;
          font-size: 1rem;
          font-weight: 500;
          font-family: chillax;
          text-transform: uppercase;
          padding: 20px 0;
          border-radius: 30px;
          cursor: pointer;
          color: black;
        }
        .contact-footer {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-wrap: wrap;
          padding-top: 70px;

          .nique {
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 35px;
            align-items: flex-start;
            @media only screen and (max-width: 767px) {
              width: 100%;
              align-items: center;
              text-align: center;
              padding-bottom: 100px;
            }
            .founder {
              font-family: chillax-regular;
              font-size: 0.875rem;
              font-weight: 400;
              color: rgba(255, 255, 255, 0.6);
              span {
                color: #face8d;
              }
            }
          }
          .menu-pages {
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            @media only screen and (max-width: 767px) {
              text-align: center;
              width: 45%;
            }
            .page-h3 {
              padding: 0;
              color: white;
              font-family: chillax-regular;
              font-size: 1.125rem;
              font-weight: 400;
            }
            ul {
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 20px;
              li {
                font-weight: 400;
                font-family: chillax-regular;
                font-size: 1rem;
                a {
                  text-decoration: none;
                  color: rgba(255, 255, 255, 0.6);
                  transition: 0.3s;
                  &:hover {
                    color: #face8d;
                  }
                }
              }
            }
          }
          .menu-utility {
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            @media only screen and (max-width: 767px) {
              text-align: center;
              width: 45%;
            }
            .uti-h3 {
              padding: 0;
              color: white;
              font-family: chillax-regular;
              font-size: 1.125rem;
              font-weight: 400;
            }
            ul {
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 20px;
              li {
                font-weight: 400;
                font-family: chillax-regular;
                font-size: 1rem;
                a {
                  text-decoration: none;
                  color: rgba(255, 255, 255, 0.6);
                  transition: 0.3s;
                  &:hover {
                    color: #face8d;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
